---
title: ideas
permalink: ideas.html
layout: default
channel: feed
---

<div class="container-fluid page-nav">

  <div class="row no-gutters">
    <div class="col-sm-12">
      <header class="header-down">
          <div class="row no-gutters">
            <div class="col-xs-2 col-sm-4">
              <a class="header-left" style="text-decoration: underline;" href="/ideas.html">Ideas</a>
            </div>
            <div class="col-xs-8 col-sm-4">
              <a class="header-center" href="{{ '/' | relative_url }}">consortia</a>
            </div>
            <div class="col-xs-2 col-sm-4">
              <a class="header-right" href="/office.html">Office</a>
            </div>
          </div>
      </header>
    </div>
  </div>


  <div class="row no-gutters">
    <div class="col-xs-1">
      <div class="position">
        <div class="rotate">
          <span class="page-heading">Blog</span>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
        <div class="row no-gutters">
          <div class="page-content">
            <article class="post-list">
            {% for post in site.categories.blog %}
              <li>
              <a href="{{ site.baseurl }}{{ post.url | relative_url }}">
                <div class="col-xs-7" style="padding-left:0; margin-left:0;">
                  <img class="post-list" src="{{ site.baseurl }}/assets/images/{{ post.image }}">
                </div>
                <div class="col-xs-5">
                  <div class="post-link">{{ post.title | escape }}</div>
                  <div class="post-meta-small">by {{ post.author }}
                  <br>{{ post.date | date: '%B %d, %Y' }}</div>
              </div>
              </a>
              </li>
              {% endfor %}
            </article>
          </div>
        </div>
    </div>
    <div class="col-xs-1">
      <div class="position">
        <div class="rotate">
          <span class="page-heading">Issues</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="page-content">
        {% include arena_feed.html %}
      </div>
    </div>
  </div>
</div>
