<div id="slides">
  <div class="slides-container">
    <img src="https://d2w9rnfcy7mm78.cloudfront.net/576328/original_10dbee359c83936a385ae844f1e3e025.jpg" alt="">
    <img src="https://d2w9rnfcy7mm78.cloudfront.net/576339/original_66575dfde4f4cb58707499a7f40c5ad1.jpg" alt="">
    <img src="https://d2w9rnfcy7mm78.cloudfront.net/576340/original_57c8eeb245b228c94efc0715c451318a.jpg" alt="">
    <img src="https://d2w9rnfcy7mm78.cloudfront.net/576341/original_ca3feaaede513cdb4e903fd5ca37af53.jpg" alt="">
  </div>
</div>

<script>
    $(function() {
      $('#slides').superslides({
        animation: 'fade',
        animation_speed: 300,
        play: 6000
      });
    });
</script>
