<ol class="notes">
  <div class="arena-content">
    {% for block in site.data[page.channel].contents %}
      <li style="padding-bottom: 15px; margin-top: 0px;">
          {% if block.class == "Channel" %}
            {% if block.status == "closed" %}
            <a target="_blank" href="https://www.are.na/{{block.user.slug}}/{{block.slug}}">
              <div class="channel-block-closed">
                <div class="channel-title-closed">{{block.title}}</div>
              </div>
            </a>
            {% else %}
            <a target="_blank" href="https://www.are.na/{{block.user.slug}}/{{block.slug}}">
              <div class="channel-block-open">
                <div class="channel-title-open">{{block.title}}</div>
              </div>
            </a>
            {% endif %}
          {% else %}
            <!--<a target="_blank" href="https://www.are.na/block/{{block.id}}">-->
            <a target="_blank" href="{{block.source.url}}">
            <div style="padding-bottom: 10px;">{{block.title}}</div>
        {% endif %}
        {% if block.image %}
          <img style="vertical-align: top;" src="{{block.image.display.url}}">
        {% endif %}
        {% if block.content %}
          <div>{{block.content}}</div>
        {% endif %}
            </a>
      </li>
    {% endfor %}
  </div>
</ol>
