html {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  height: 100%;
  min-height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}


.caption {
  font-family: "Founders Grotesk Web";
  font-weight: 300;
  font-size: 0.7em;
  color: $grey-color;
  width: 100%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $spacing-unit * 2;

  @media (max-width: 425px) {
    padding-bottom: $spacing-unit / 2;
  }
}

.header-caption {
  font-family: "Founders Grotesk Web";
  font-style: 300;
  font-size: 0.7em;
  color: $grey-color;
  padding-top: $spacing-unit / 3;
  padding-bottom: $spacing-unit;

  @media (max-width: 425px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  margin: 15px 0;
  line-height: 1.3;
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

  &:active {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

  &:visited {
    text-decoration: none !important;
    cursor: pointer;
    color: black;
  }
}




/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
  * Scrollbar
  */

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
    border-left-style: solid;
    //border-right-style: solid;
    border-width: 1px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    //background-image: url("images/stipple2-scroll.png");
    overflow: hidden;
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}
