// Define defaults for each variable.

$base-font-family: "Atlas Grotesk Web", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #000 !default;
$background-color: #fff !default;
$brand-color:      #000 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    100% !default;

$on-palm:          80% !default;
$on-laptop:        100% !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "consortia/base",
  "consortia/layout",
  "consortia/syntax-highlighting"
;
