---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Atlas Grotesk Web", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fff;
$brand-color:      #000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    100%;

$on-palm:          80%;
$on-laptop:        100%;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `consortia` theme.
@import "consortia";

@font-face {
	font-family: "Consortia Sans";
	src: url("fonts/Consortia-Sans.otf");
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('fonts/AtlasGrotesk-Bold-Web.eot');
  src: url('fonts/AtlasGrotesk-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/AtlasGrotesk-Bold-Web.woff2') format('woff2'),
       url('fonts/AtlasGrotesk-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Bold-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('fonts/AtlasGrotesk-Light-Web.eot');
  src: url('fonts/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/AtlasGrotesk-Light-Web.woff2') format('woff2'),
       url('fonts/AtlasGrotesk-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Founders Grotesk Web';
  src: url('fonts/FoundersGroteskMonoWeb-Light.eot');
  src: url('fonts/FoundersGroteskMonoWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/FoundersGroteskMonoWeb-Light.woff2') format('woff2'),
       url('fonts/FoundersGroteskMonoWeb-Light.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.FoundersGroteskMonoWeb-Light {
  font-family: 'Founders Grotesk Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}
