---

---
<!--

 ▄▀▄▄▄▄   ▄▀▀▄ ▄▄   ▄▀▀▄▀▀▀▄  ▄▀▀█▀▄   ▄▀▀▀▀▄  ▄▀▀▀█▀▀▄  ▄▀▀█▀▄    ▄▀▀▄ ▀▄  ▄▀▀█▄       ▄▀▀█▄▄   ▄▀▀█▄   ▄▀▀█▄▄   ▄▀▀█▄   ▄▀▀▀▀▄
█ █    ▌ █  █   ▄▀ █   █   █ █   █  █ █ █   ▐ █    █  ▐ █   █  █  █  █ █ █ ▐ ▄▀ ▀▄     ▐ ▄▀   █ ▐ ▄▀ ▀▄ █ ▄▀   █ ▐ ▄▀ ▀▄ █    █
▐ █      ▐  █▄▄▄█  ▐  █▀▀█▀  ▐   █  ▐    ▀▄   ▐   █     ▐   █  ▐  ▐  █  ▀█   █▄▄▄█       █▄▄▄▀    █▄▄▄█ ▐ █    █   █▄▄▄█ ▐    █
  █         █   █   ▄▀    █      █    ▀▄   █     █          █       █   █   ▄▀   █       █   █   ▄▀   █   █    █  ▄▀   █     █
 ▄▀▄▄▄▄▀   ▄▀  ▄▀  █     █    ▄▀▀▀▀▀▄  █▀▀▀    ▄▀        ▄▀▀▀▀▀▄  ▄▀   █   █   ▄▀       ▄▀▄▄▄▀  █   ▄▀   ▄▀▄▄▄▄▀ █   ▄▀    ▄▀▄▄▄▄▄▄▀
█     ▐   █   █    ▐     ▐   █       █ ▐      █         █       █ █    ▐   ▐   ▐       █    ▐   ▐   ▐   █     ▐  ▐   ▐     █
▐         ▐   ▐              ▐       ▐        ▐         ▐       ▐ ▐                    ▐                ▐                  ▐

________________________________________________________________/\\\_________________________________________________________________
_______________________________________________________________/\\\\\________________________________________________________________
______________________________________________________________/\\\/\\\_______________________________________________________________
_____________________________________________________________/\\\/\/\\\______________________________________________________________
____________________________________________________________/\\\/__\/\\\_____________________________________________________________
___________________________________________________________/\\\\\\\\\\\\\\\\_________________________________________________________
___________________________________________________________\///////////\\\//_________________________________________________________
______________________________________________________________________\/\\\__________________________________________________________
______________________________________________________________________\///___________________________________________________________


      ::::::::       ::::::::      ::::    :::       ::::::::       ::::::::      :::::::::   :::::::::::   :::::::::::         :::
    :+:    :+:     :+:    :+:     :+:+:   :+:      :+:    :+:     :+:    :+:     :+:    :+:      :+:           :+:           :+: :+:
   +:+            +:+    +:+     :+:+:+  +:+      +:+            +:+    +:+     +:+    +:+      +:+           +:+          +:+   +:+
  +#+            +#+    +:+     +#+ +:+ +#+      +#++:++#++     +#+    +:+     +#++:++#:       +#+           +#+         +#++:++#++:
 +#+            +#+    +#+     +#+  +#+#+#             +#+     +#+    +#+     +#+    +#+      +#+           +#+         +#+     +#+
#+#    #+#     #+#    #+#     #+#   #+#+#      #+#    #+#     #+#    #+#     #+#    #+#      #+#           #+#         #+#     #+#
########       ########      ###    ####       ########       ########      ###    ###      ###       ###########     ###     ###

-->


<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

          {{content}}


  </body>


</html>
