---

---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  {% if page.carousel %}
  <!-- Google CDN Hosted jQuery  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Flexslider Library  -->
  <script src="/assets/javascripts/jquery.flexslider.js"></script>
  <!-- Initialisation Code  -->
  <script src="/assets/javascripts/app.js"></script>
  {% endif %}



  <body>

          {{content}}

  </body>


</html>
