---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<div class="container-fluid page-nav">

  <div class="row no-gutters">
    <div class="col-sm-12">
      <header class="header-down">
          <div class="row no-gutters">
            <div class="col-xs-2 col-sm-4">
              <a class="header-left" style="text-decoration: underline;" href="/ideas.html">Ideas</a>
            </div>
            <div class="col-xs-8 col-sm-4">
              <a class="header-center" href="{{ '/' | relative_url }}">consortia</a>
            </div>
            <div class="col-xs-2 col-sm-4">
              <a class="header-right" href="/office.html">Office</a>
            </div>
          </div>
      </header>
    </div>
  </div>

 <div class="row no-gutters">

   <div class="col-xs-1">
      <div class="position">
         <div class="rotate">
           <span class="page-heading">Post</span>
         </div>
       </div>
   </div>

   <div class="col-xs-11">
     <div class="row no-gutters">
       <div class="col-xs-10 col-sm-8" style="margin-left: -60px;">
         <!--<time class="post-meta-small" style="float:right;" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>-->
         {% if page.image %}
         <img class="post-header" src="{{ site.baseurl }}/assets/images/{{ page.image }}">
         {% endif %}
         <div class="header-caption">{{ page.caption }}</div>
       </div>
       <div class="col-xs-2 col-sm-4" style="padding:0;">
         <span class="post-title-large" itemprop="name headline">{{ page.title | escape }}</span>
         {% if page.author %} <!--<p class="post-meta" itemprop="author" itemscope itemtype="http://schema.org/Person">-->
         <div class="post-meta" itemprop="name">by {{ page.author }}
          <br>{{ page.date | date: '%B %d, %Y' }}</div>
         {% endif %}
       </div>
     </div>
   </div>

 </div>

  <div class="row no-gutters" style="height: 30px; padding-bottom: 30px; margin-right: 15px; margin-left: 15px;">
    <div class="col-xs-12">
    </div>
  </div>

  <div class="row no-gutters">

    <div class="col-xs-1">
       <div class="position">
          <div class="rotate">
            <span class="page-heading"></span>
          </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-7" style="padding-left: 0px;">
      <div class="post-content">
        {{ content }}
      </div>
    </div>

    <div class="col-xs-1">
       <div class="position">
          <div class="rotate">
            <span class="page-heading">Notes</span>
          </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3">
      {% if page.channel %}
        {% include arena_notes.html %}
      {% endif %}
    </div>

  </div>

  <div class="row no-gutters" style="height: 30px; padding-bottom: 30px; margin-bottom: 30px; margin-right: 15px; margin-left: 15x;">
    <div class="col-xs-12">
    </div>
  </div>

 <div class="row no-gutters">
    <div class="col-xs-1">
       <div class="position">
          <div class="rotate">
            <span class="page-heading">Related</span>
          </div>
        </div>
    </div>
    <div class="col-xs-11" style="padding-left: 0px;">
      <div class="page-content">
        {% include related_posts.html %}
    </div>
  </div>
</div>

</div>

</article>
